<section>
  <h1>Welcome to Knight Moves!</h1>
  <p>Workin' on mysteries without any clues. Workin' on our knight moves</p>
</section>

<section>
  <%= link "New Game", to: Routes.game_index_path(@conn, :new) %>
</section>
