<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Knight Moves" %></h1>
  <p>Workin' on mysteries without any clues Workin' on our knight moves</p>
</section>

<section class="row">
  <%= link "New Game", to: Routes.game_index_path(@conn, :new) %>
</section>
